<div style="height: 100%; ">
    <mat-toolbar >
        <button mat-button (click)="fijar(0)">Home</button>
        <button mat-button (click)="fijar(1)">Registrar usuarios</button>
        <button mat-button (click)="fijar(2)">Registrar productos</button>
    </mat-toolbar>
</div>
     

<!--

    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span>My App</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>
      </mat-toolbar>

-->