<div style="position: relative; offset-block-start: 50px;">
  <h1>Examen Tecnico</h1>

  <div>
    <br />
    <div class="row">
      <label>Seleccione cliente: </label>
      <select name="select" [(ngModel)]="this.clienteSeleccionado" required>
        <option [ngValue]="item" *ngFor="let item of clientes">
          {{ item.apellido }}, {{ item.nombre }}
        </option>
      </select>
    </div>

    <div class="row">
      <label>Seleccione la fecha actual: </label>
      <input
        type="date"
        [(ngModel)]="fechaActual"
        name="fechaActual"
        id="date"
      />
    </div>
    <br />
    <app-tabla-productos [listaProductos]="this.productos" (producto)="this.cargarProducto($event)"*ngIf="!showSpinner">
    </app-tabla-productos>
    <mat-card-content class="spinner" *ngIf="showSpinner">
      <h2 class="example-h2">Cargando...</h2>

      <mat-progress-spinner
        class="example-margin"
        [color]="color"
        [mode]="mode"
      >
        <!-- [value]=indeterminate -->
      </mat-progress-spinner>
    </mat-card-content>
    
    <br />
    <div *ngIf="mostrarCarrito()">
      <app-carrito
        [carrito]="this.carrito"
        [descuento]="this.descuento"
      ></app-carrito>
      <button
        (click)="confirmarCompra()"
        id="confirmar"
        style="align-items: flex-end !important;"
      >
        Confirmar compra
      </button>
      <button
        (click)="eliminarCompra()"
        id="eliminar"
        style="align-items: flex-end !important;"
      >
        Eliminar carrito
      </button>
    </div>
  </div>
</div>
